<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${workout.name} | FLO Motion Fitness`}) %>
    <link rel="stylesheet" href="/styles/workout-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <img src="<%= workout.photo %>">
        <h2 class="workout-name"><%= workout.name %></h2>
        <section>
            <p><strong>Exercises:</strong> <%= workout.exercises %></p>
            <p><strong>Sets:</strong> <%= workout.sets %></p>
            <p><strong>Reps per set:</strong> <%= workout.reps %></p>
            <p><strong>Cardio Amount:</strong> <%= `${workout.cardioAmount}` %></p>
            <p><strong>Description:</strong> <%= workout.description %></p>
        </section>

        <section class="actions">
            <button class="btn"><a href="/workouts/<%= workout._id %>/edit">Edit</a></button>
            <form method="POST" action="/workouts/<%= workout._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>
        </section>
        
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
