<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'My Reviews | FLO Motion Fitness'}) %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/rev-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="reviews">
        <h1>Entry Title: <%= rev.reviewName %></h1>
        <div class="table-container">
            <table>
                <tr>
                    <td>
                        <h2 class="entry-label">Workout Time:</h2>
                        <h2><%= rev.reviewTime %> mins</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 class="entry-label">What I liked:</h2>
                        <h2><%= rev.reviewPros %></h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 class="entry-label">What I would change:</h2>
                        <h2><%= rev.reviewCons %></h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 class="entry-label">Date submitted:</h2>
                        <h2><%= rev.reviewDate.toLocaleDateString() %></h2>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section id="entry-action">
        <button class="btn"><a href="../reviews/<%= rev._id %>/edit">Edit</a></button>
    </section>
    <%- include('../partials/footer.ejs') %>
</body>

</html>
